*:focus {
    outline: none;
}

.recipe-card {
    padding: 30px;  
    width: 45%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(71,71,71);
}

.recipe-card > h1 {
    margin-bottom: 30px;
    margin-top: 20px;
}

li {
    list-style: none;
}

img {
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
}

.calories {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}