* { 
    margin: 0;
    padding: 0;
}
.App {
    min-height: 100vh;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
}

.title {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 5px 5px #3F3F3F;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: #fff;
    border: none;
    padding: 10px 20px;

}

.search-bar, .search-button {
    margin-bottom: 30px;
}